/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: 'Open-Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}
h5 {
  font-weight: bold;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
}
.header-button {
  font-size: 1em;
  color: #ff52bf;
  background-color: #fff;
  border-radius: 10em;
  border: solid 1px #ff52bf;
  padding: 1em 3em;
  transition: all 200ms linear;
}
.header-button:hover {
  color: #fff;
  background-color: #ff52bf;
}


/* CTA Styling */
.cta-button {
  font-size: 1em;
  color: #fff;
  background-color: #ff52bf;
  border: solid 2px #ff52bf;
  border-radius: 10em;
  padding: 1.25em 5em;
  transition: all 200ms linear;
}
.cta-button:hover {
  color: #ff52bf ;
  background-color: #fff;
}

#Get-Started-Button {
display: flex inline-block;
justify-content: center;
border: none;
border-radius: 12px;
padding: 5px 10px;
background-color: hsl(322, 100%, 66%);
font-weight: bold;
color: white;
}


/* Value Prop Styling */
#grow, #flow, #users {
  display: flex;
  align-items: center;
  justify-content: center;
}
.value-img {
  max-width: 25em;
  height: auto;
}
.value-txt-container, .value-img-container {
  width: 50%;
}

.cta-section {
  display: flex;
  justify-content: center;
}

/*Footer Styling */
#blue-wavy-line {
  margin: -4px;
}

footer {
  color: white;
background-color: hsl(192, 100%, 9%);
position: absolute;
width:100%;
height:132px;
background-position: bottom;
}

.left-section-footer {
width: 45%;
display: flex;
flex-direction: column;
}

.right-section-footer{
  width: 55%;
  display:flex;
  flex-direction: column;
}

input[type="email"] {
  border-radius: 8px;
  flex-grow: 2;
  height: 4vh;
  width: 21%;
  margin-right: 1rem;
}

input[type="submit"] {
  border-radius: 5px;
  font-size: 0.8em;
  flex-grow: 1;
  height: 30px;
  width: 12%;
  color: white;
  background-color:hsl(322, 100%, 66%)
}
