/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Text Styles */
body {
  font-family: 'Open-Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}


h3{
  display: flex;
  justify-content: center;
}

#Get-Started-Button {
display: flex inline-block;
justify-content: center;
border: none;
border-radius: 12px;
padding: 5px 10px;
background-color: hsl(322, 100%, 66%);
font-weight: bold;
color: white;
}

/*Footer Styling */
footer {
background-color: hsl(192, 100%, 9%);
position: absolute;
width:100%;
height:200px;
background-position: bottom;
}

.left-section-footer {
width: 50%
}

.right-section-footer{
  width:50%
}
